:root {
  margin: 0;
  padding: 16px;

  --font1: "Anybody", sans-serif;
  --font2: "Bokor", system-ui;
  --font3: "Vend Sans", sans-serif;

  --turf-green: #007848ff;
  --toasted-almond: #ca895fff;
  --shadow-grey: #262322ff;
  --light-green: #a1e887ff;
  --lavender: #d2d6efff;

  font-family: var(--font1);

  scrollbar-width: none;
  scroll-behavior: smooth;
}

/*

 color classes

*/

.color1{
    color: var(--turf-green);
}
.color2{
    color: var(--toasted-almond);
}
.color3{
    color: var(--shadow-grey);
}
.color4{
    color: var(--light-green);
}
.color5{
    color: var(--lavender);
}


body{
    padding: 0px;
    margin: 0px;

    background-color: var(--turf-green);
    background-image: url("/halftone.png");
    background-blend-mode: difference;

    image-rendering: crisp-edges;

    background-size: 25%;

}

footer{

    & a{
        text-decoration: underline;
        color: white;
    }
}

.games{
    --radius: 16px;
    --padding: 8px;

    display: flex;
    flex-direction: column;

    margin-block: 64px;

    border: 0px solid transparent;
    border-radius: var(--radius);

    backdrop-filter: blur(2px);

    padding: var(--padding);

    background-color: var(--shadow-grey);
    color: white;

    box-shadow: 0 0 .5rem var(--lavender);

    & div video{
        width: 100%;
        aspect-ratio: 16/9;
        max-width: 1280px;

        background-color: var(--toasted-almond);

        border: 0px solid transparent;
        border-radius: calc(var(--radius) - var(--padding));
    }

    & .details{
        display: flex;
        justify-content: space-between;

        font-family: var(--font2);
        font-size: 1.25rem;

        color: white;
        filter: drop-shadow(0 2px 2px var(--shadow-grey));


    }

    & .details_descriptions{
        line-height: 3ch;

        font-family: var(--font1);
        font-weight: 500;

        filter: drop-shadow(0 2px 2px black);
    }
}

#scrollIndicator{
    width: fit-content;
    margin-inline: auto;
}

#heroWrapper{
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bigHero{
    width: 360px;

    color: var(--lavender);

    & :nth-child(1){
        font-size: 3rem;
        font-family: var(--font2);
        display: block;
    }

    & :nth-child(2){
        font-size: 1.5rem;
        font-family: var(--font1);
        display: block;
    }

    & :nth-child(3){
        font-size: 3rem;
        font-family: var(--font1);
        display: block;
        font-weight: 200;
    }

}

@media screen and (min-width: 540px){
    .games{
        flex-direction: row;

        gap: 8px;

        background-size: 100%;

        border: none;
        border-radius: 32px;

        &:nth-child(even){
            flex-direction: row-reverse;
        }

        & div:nth-child(1){
            width: 50%;
        }


        & div video{
            width: 100%;

            border: none;
            border-radius: 16px;

            box-shadow: -16px -16px var(--light-green);

        }

        &:nth-child(even) div video{
            box-shadow: 16px -16px var(--light-green);
        }

        & .details_descriptions{
            margin: 0;
            padding-inline: 32px;
            width: 50%;

            height: fit-content;
            margin-block: auto;
        }

    }

    #heroWrapper{
        align-items: center;
    }

}


/* tablet screen */
@media screen and (min-width: 960px){

    .games{
        max-width: 1280px;
        margin-inline: auto;
    }

    #bigHero{
    }

    footer{
        width: fit-content;
        margin-inline: auto;
    }
}
