:root {
  margin: 0;
  padding: 0;

  --font1: "Anybody", sans-serif;
  --font2: "Bokor", system-ui;
  --font3: "Vend Sans", sans-serif;

  --turf-green: #007848ff;
  --toasted-almond: #ca895fff;
  --shadow-grey: #262322ff;
  --light-green: #a1e887ff;
  --lavender: #d2d6efff;

  font-family: var(--font1);

  scrollbar-width: none;
  scroll-behavior: smooth;
}

/*

 color classes

*/

.color1{
    color: var(--turf-green);
}
.color2{
    color: var(--toasted-almond);
}
.color3{
    color: var(--shadow-grey);
}
.color4{
    color: var(--light-green);
}
.color5{
    color: var(--lavender);
}


body{
    padding: 0px;
    margin: 0px;

    background-color: #060606ff;
    background-image: url("/ng_bg_2.webp");

    image-rendering: crisp-edges;

    background-size: 200%;

    background-repeat: repeat;

}

footer{

    & a{
        text-decoration: underline;
        color: white;
    }
}

#heroImage{
    position: absolute;

    place-self: center center;

    width: 100%;

    image-rendering: crisp-edges;

    transition: left .5s ease-in-out, top .5s ease-in-out;

    z-index: -1;

}

.games{
    --radius: 16px;
    --padding: 8px;

    display: flex;
    flex-direction: column;

    margin-block: 64px;
    margin-inline: 16px;

    border: 0px solid transparent;
    border-radius: var(--radius);

    backdrop-filter: blur(2px);

    padding: var(--padding);

    background-color: var(--shadow-grey);
    color: white;

    box-shadow: 0 0 .5rem var(--lavender);

    & div video{
        width: 100%;
        aspect-ratio: 16/9;
        max-width: 1280px;

        background-color: var(--toasted-almond);

        border: 0px solid transparent;
        border-radius: calc(var(--radius) - var(--padding));
    }

    & .details{
        display: flex;
        justify-content: space-between;

        font-family: var(--font2);
        font-size: 1.25rem;

        color: white;
        filter: drop-shadow(0 2px 2px var(--shadow-grey));


    }

    & .details_descriptions{
        line-height: 3ch;

        font-family: var(--font1);
        font-weight: 500;

        filter: drop-shadow(0 2px 2px black);
    }
}

#scrollIndicator{
    width: fit-content;
    margin-inline: auto;
}

#heroWrapper{
    margin-bottom: 64px;

    height: 540px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("/ng_a_3.webp");
    background-size: cover;
    background-position: center;

    padding-inline: 16px;
}

#bigHero{
    position: relative;

    top: -150px;
    height: fit-content;
    width: fit-content;

    color: var(--toasted-almond);

    & :nth-child(1){
        font-size: 2rem;
        font-family: var(--font1);
        font-weight: 500;
        display: block;
        line-height: 60px;
    }
}

@media screen and (min-width: 540px){

    body{
        background-size: 200%;
    }

    #heroImage{

    }

    .games{
        flex-direction: column;

        gap: 8px;

        background-size: 100%;

        border: none;
        border-radius: 32px;

        & .videoNest:nth-child(even){
            flex-direction: col;
        }

        & .videoNest{
            width: 100%;
        }


        & div video{
            width: 100%;

            border: none;
            border-radius: 16px;

            /*box-shadow: -16px -16px var(--light-green);*/

        }

        & .details_descriptions{
            margin: 0;
            padding-inline: 32px;
            width: calc(100%-32px);

            height: fit-content;
            margin-block: auto;
        }

    }

    #bigHero{
        top: -200px;

        & :nth-child(1){
            font-size: 2rem;
            line-height: 80px;
        }
    }

    #heroWrapper{
        align-items: center;

        height: 768px;
    }

}


/* tablet screen */
@media screen and (min-width: 768px){

    #heroImage{
    }

    .games{
        max-width: 1280px;
        margin-inline: 16px;

        flex-direction: column;

        & .videoNest{
            width: 100%;
        }

        & div video{
            box-shadow: -16px -16px var(--light-green);
        }

        &:nth-child(even) div video{
            box-shadow: 16px -16px var(--light-green);
        }

        & .details_descriptions {
            width: calc(100% - 32px);
        }
    }

    #bigHero{
        width: fit-content;

        & :nth-child(1){
            font-size: 2rem;
            font-family: var(--font1);
            display: block;
        }
    }

    #heroWrapper{
        align-items: center;
    }

    footer{
        width: fit-content;
        margin-inline: auto;
    }
}

/* tablet screen */
@media screen and (min-width: 960px){

    body{
        background-size: 100%;
        image-rendering: crisp-edges;
    }

    #heroImage{
    }

    .games{
        max-width: 1080px;
        margin-inline: auto;
        flex-direction: row;

        & .videoNest{
            width: 50%;
        }

        &:nth-child(even){
            flex-direction: row-reverse;
        }

        & .details_descriptions {
            width: 50%;
        }
    }

    #bigHero{
        width: fit-content;
        top: -270px;

        & :nth-child(1){
            font-size: 2rem;
            font-family: var(--font1);
        }
    }

    #heroWrapper{
        height: 1080px;
    }

    footer{
        width: fit-content;
        margin-inline: auto;
    }
}
